@model University.DataAccess.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>

        <dd>
            @ViewBag.Id
        </dd>

        <dt>
            Student
        </dt>

        <dd>
            @ViewBag.Student
        </dd>

        <dt>
            Course
        </dt>

        <dd>
            @ViewBag.Course
        </dd>
        
        
        <dt>
            Date
        </dt>
        <dd>
            @ViewBag.Date
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
