@model University.DataAccess.Enrollment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>

        <dd>
            @ViewBag.Id
        </dd>

        <dt>
            Student
        </dt>

        <dd>
            @ViewBag.Student
        </dd>

        <dt>
            Course
        </dt>

        <dd>
            @ViewBag.Course
        </dd>
        
        <dt>
            Date
        </dt>
        <dd>
            @ViewBag.Date
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" value="@ViewBag.Id" name="Id" id="Id"/>
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
